#dealersCards img,
#playersCards img {
  max-height: 100% !important;
  margin-right: calc(-4.5vh);
  margin-left: calc(-4.5vh);
}

#hitBtn {
  padding: 6px 22px 6px 22px;
  font-weight: bold;
}

#standBtn {
  font-weight: bold;
}

#dealersCards,
#playersCards {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 15px;
  padding-left: calc(5.6vh);
  border-radius: 5px;
  max-height: 20vh !important;
  min-height: 20vh !important;
  height: 20vh !important;
  max-width: 50rem;
  background-color: rgb(9, 59, 9);
}

#winner h4 {
  color: rgb(204, 58, 58);
  font-weight: bolder;
}

#winner {
  height: 40px !important;
}

#main {
  max-height: 70vh !important;
  height: 70vh !important;
}

#pointsDisplay,
#wagerDisplay {
  max-height: 4.6vh !important;
  height: 4.6vh !important;
  font-size: 1.6vh;
  font-weight: bold;
}

#wagerDiv .form-control,
#wagerBtn {
  max-width: 120px;
}

#disclaimer p {
  font-size: 0.5rem;
}

#disclaimer {
  width: fit-content;
  height: fit-content;
}

#musicButton {
  font-size: 16px;
  padding: 0px;
  height: 25px;
  width: 25px;
  background-color: rgb(99, 109, 116);
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes flip {
  from {
    transform: rotateY(90deg);
  }
  to {
    transform: rotateY(0);
  }
}

@-webkit-keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@-webkit-keyframes flip {
  from {
    transform: rotateY(90deg);
  }
  to {
    transform: rotateY(0);
  }
}

.imgFlip {
  -webkit-animation: flip 0.7s ease-in-out;
  animation: flip 0.7s ease-in-out;
  transform-style: flat;
}

.imgSlide {
  -webkit-animation: slideIn 0.3s ease-in-out;
  animation: slideIn 0.3s ease-in-out;
  transform-style: flat;
}
