#dealersCards img,
#playersCards img {
  max-height: 100% !important;
  margin-right: calc(-4vh);
  margin-left: calc(-4vh);
}

#hitBtn {
  padding: 4px 16.5px 4px 16.5px;
  font-weight: bold;
}

#standBtn {
  font-weight: bold;
}

#dealersCards,
#playersCards {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 15px;
  padding-left: calc(5.6vh);
  border-radius: 5px;
  max-height: 18vh !important;
  min-height: 18vh !important;
  height: 18vh !important;
  max-width: 50rem;
  background-color: rgb(9, 59, 9);
}

#winner h5 {
  color: rgb(204, 58, 58);
  font-weight: bolder;
}

#winner {
  height: 40px !important;
}

#main {
  max-height: 70vh !important;
  height: 70vh !important;
}

#pointsDisplay,
#wagerDisplay {
  max-height: 3.7vh !important;
  height: 3.7vh !important;
  font-size: 1.2vh;
  font-weight: bold;
}

#wagerDiv img {
  box-sizing: border-box;
  border: 0.4vh solid #ccc;
  border-radius: 3vh;
  max-height: 6vh;
  margin: 0.5vh;
}

#wagerDiv img:hover {
  cursor: pointer;
}

#wagerDiv #wagerBtn,
#wagerRst,
#allInBtn {
  max-width: 120px;
  font-size: 12px;
}

#wagerDiv #allInBtn {
  padding: 4px 11px 4px 11px;
}

#disclaimer p {
  font-size: 0.5rem;
}

#disclaimer {
  width: fit-content;
  height: fit-content;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes flip {
  from {
    transform: rotateY(90deg);
  }
  to {
    transform: rotateY(0);
  }
}

@-webkit-keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@-webkit-keyframes flip {
  from {
    transform: rotateY(90deg);
  }
  to {
    transform: rotateY(0);
  }
}

.imgFlip {
  -webkit-animation: flip 0.7s ease-in-out;
  animation: flip 0.7s ease-in-out;
  transform-style: flat;
}

.imgSlide {
  -webkit-animation: slideIn 0.3s ease-in-out;
  animation: slideIn 0.3s ease-in-out;
  transform-style: flat;
}

@keyframes flipFull {
  from {
    transform: rotateY(360deg);
  }
  to {
    transform: rotateY(0);
  }
}

@-webkit-keyframes flipFull {
  from {
    transform: rotateY(360deg);
  }
  to {
    transform: rotateY(0);
  }
}

.chipFlip {
  -webkit-animation: flipFull 0.7s ease-in-out;
  animation: flipFull 0.7s ease-in-out;
  transform-style: flat;
}

@keyframes highlight {
  0% {
    background-color: #ccc;
  }
  100% {
    background-color: transparent;
  }
}

.highlight {
  animation: highlight 0.5s ease-in-out;
}
